/* Remove comment
-------------------------------------------------- */

#adminRemoveComment {
	border: 1px solid #DEDBD1;
	background: url("images/bg-navigation.gif") repeat-x scroll 0 0 #F6F5E9;
	padding: 10px;
	overflow: hidden;
	clear: both;
	width: 200px;
	position: absolute;
	display: none;
	z-index: 1000;
}

#adminRemoveComment h2 {
	margin-bottom: 1em;
}

#adminRemoveComment dl {
	margin-left: 10px;
}

#adminRemoveComment dt {
	clear: both;
	float: left;
}

#adminRemoveComment dd {
	float: left;
}

#adminRemoveComment input.submit {
	clear: both;
	float: right;
	margin-top: 10px;
}

#adminRemoveComment .alert {
	margin-bottom:0;
	padding:7px 17px;
}

#adminRemoveComment .message {
	display: none;
	margin-bottom: 10px;
}

#adminRemoveComment .close {
	clear: both;
	float: right;
	margin-top: 15px;
}

#adminRemoveComment .removeThisThread {
	display: none;
}

