#modal {
	background-color:#000;
	display:none;
	height:100%;
	left:0;
	filter:alpha(opacity=80);
	opacity:0.8;
	position:fixed;
	top:0;
	width:100%;
	z-index:9999;
}

#lightbox {
	display:none;
	left:0;
	position:absolute;
	top:100px;
	width:100%;
	z-index:9999;
}

#lightbox #imageContainer {
	background-color:#fff;
	height:200px;
	margin:0 auto;
	min-height:100px;
	min-width:100px;
	padding:10px 10px 48px 10px;
	position:relative;
	text-align:center;
	width:200px;
}

#lightbox #imageContainer>img {
	display:none;
}

#lightbox #imageContainer>img#loading {
	display:block;
	height:16px;
	margin:48px auto;
	width:16px;
}

#lightbox #imageContainer #navContainer {
	display:block;
	height:85%;
	left:0;
	position:absolute;
	top:0;
	width:100%;
}

#lightbox #imageContainer #navContainer a.nav {
	background-image:url(images/1998/shim.gif); /* a gift for IE.. *sigh* */
	display:block;
	height:100%;
	width:33%;
}

#lightbox #imageContainer #navContainer a.nav img {
	background-color:#fff;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	display:none;
	height:48px;
	margin-top:40px;
	width:48px;
}

#lightbox #imageContainer #navContainer>a#navBack {
	cursor:pointer;
	float:left;
	text-align:left;
}

#lightbox #imageContainer #navContainer>a#navNext {
	cursor:pointer;
	float:right;
	text-align:right;
}

#lightbox #imageContainer a#navNext img {
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	-moz-border-radius-topright:0;
	-moz-border-radius-bottomright:0;
	-webkit-border-radius-topright:0;
	-webkit-border-radius-bottomright:0;
}

#lightbox #imageContainer a#navBack img {
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	-moz-border-radius-topleft:0;
	-moz-border-radius-bottomleft:0;
	-webkit-border-radius-topleft:0;
	-webkit-border-radius-bottomleft:0;
}

#lightbox #imageContainer a#navClose {
	bottom:0;
	cursor:pointer;
	display:block;
	height:48px;
	position:absolute;
	right:0;
	text-align:right;
	width:100%;
}