/* Comments defaults
-------------------------------------------------- */
.posts>li {
	background: none no-repeat right bottom;
	border-left:10px solid transparent; /*overwritten in ie6.css*/
	border-top:1px solid #d9d9d9;
	clear:left;
	float:left;
	padding:1.2em 0 1.2em 10px;
	width:940px;
}

.posts li:first-child {
	border-top:none;
	padding-top:0;
}

.posts li.microsoft {
	background-image:url("images/bg-microsoft.png");
	border-left-color:#F6F5E9;
}

.posts li.microsoft .post {
	margin-bottom:2em;
}

.posts li.staff {
	background-image:url("images/bg-staff.png");
	border-left-color:#DAF2F5;
}

.posts li.owner {
	border-left-color:#018093;
}

.posts li .author {
	clear:left;
	display:block;
	float:left;
	margin-right:10px;
	width:132px;
	text-align:center;
}

.posts li .post {
	float:left;
	line-height:1.3;
	width:798px;
}

.posts li .post-header .attachments {
	clear:left;
	float:left;
	margin:1.12em 0;
}

.posts li .post-header .attachments .data {
	color:#878787;
	font-size:91%;
}

.posts li .post-header .permalink {
	display:block;
	float:left;
}

.posts li .post-header a.button {
	float:right;
}

.posts .post-content {
	clear:left;
	float:left;
	margin-top:0.5em;
	overflow:hidden;
	width: 100%;
}

.posts .post-content h1,
.posts .post-content h2,
.posts .post-content h3 {
	border:none;
	line-height:0.9;
	margin:0 0 1.12em;
	padding:0;
}

.posts .post-content h1 {
	font-size:160%;
}

.posts .post-content h2 {
	font-size:140%;
}

.posts .post-content h3 {
	font-size:120%;
}

.mainContent .posts .post-content ul,
.mainContent .posts .post-content ol {
	margin-left:20px;
}

.posts .post-content li {
	width:auto;
}

.posts .post-content>* {
	width:68%;
}

.posts .post-content img {
	width:auto;
	max-width: 100%;
}

.posts .post-content>img {
	width:auto;
	max-width: 68%;
}

.posts .post-content>.syntaxhighlighterHolder {
	width:100%;
}

.posts .microsoft .post-content>.syntaxhighlighterHolder {
	padding-bottom: 15px;
}

.posts .microsoft .post-content>.syntaxhighlighterHolder+* {
	margin-top: -15px;
}
/* Comments headers
-------------------------------------------------- */
.comments.followDiscussion,
.comments.add-comment {
	clear:left;
	float:left;
	margin-top:1.2em;
	width:960px;
}

.comments.followDiscussion .comments-header h2,
.comments.add-comment .comments-header h2 {
	border-bottom:2px solid #333;
	clear:both;
	color:#333;
	font-size:205%;
	padding-bottom:0.2em;
	margin:0 0 10px;
	white-space:nowrap;
}

.comments.followDiscussion .comments-header ul.rss,
.comments.add-comment .comments-header ul.rss {
	float:right;
	margin-top:-35px;
}

.comments.add-comment .subject {
	display:none;
}

.comments.add-comment a.lock.button {
	float:right;
	margin-top:-40px;
}

.comments.add-comment a.lock.unlock.button {
	margin-top:0;
}

.entry .entry .comments.add-comment .textarea>label {
	left: 0px;
	position: absolute;
}


/* Comments forms
-------------------------------------------------- */
form.spam,
span.markedSpam {
	clear:right;
	float:right;
	margin-top:15px;
}

.add-comment .goSignIn {
	background:#e9f8fa;
	position:absolute;
	right:0;
	width:226px;
}

.add-comment .goSignIn p {
	font-size:115%;
	margin:0;
	padding:13px 24px;
}

.add-comment .author {
	float:left;
	margin-right:10px;
	text-align:center;
}

.add-comment .author .name {
	display:block;
	padding:3px 6px 6px;
	text-align:center;
}

.add-comment .textarea {
	float:right;
}

.add-comment .textarea {
	width: 590px;
}

.forum .mce-tinymce .mce-toolbar .mce-btn button {
	padding: 4px 8px;
}