/* Ratings
-------------------------------------------------- */
div.rating {
	display:block;
	float:left;
	height:12px;
	margin:0 0 1.2em;
	position:relative;
	width:85px;
}

.rating-count {
	color:#878787;
	display:block;
	float:left;
	font-size:91%;
	margin-top: 2px;
}

.rating p.avg-rating {
	font-size:91%;
	margin:0;
	padding-top:1.8em;
}

.rating-average input, 
.rating-user input {
	display:none;
}

.rating-average, 
.rating-user {
	position:absolute;
}

.rating-average {
	z-index:4;
}

.rating-user {
	z-index:5;
}

.ui-stars-star,
.ui-stars-cancel {
	float:left;
	display:block;
	overflow:hidden;
	text-indent:-9999em;
	cursor:pointer;
}

.ui-stars-star a,
.ui-stars-cancel a {
	width:16px;
	height:15px;
	display:block;
	background:url(images/ui.stars.gif) no-repeat 0 0;
}

.rating-average .ui-stars-star a {
	background-position:0 -32px;
}

.rating-average .ui-stars-star-on a {
	background-position:0 -64px;
}

.rating-user .ui-stars-star a {
	background-position:0 80px;
}

.rating-user .ui-stars-star-on a,
.rating-user .ui-stars-star-hover a {
	background-position:0 -48px;
}

.ui-stars-cancel-hover a {
	background-position: 0 -16px;
}

.ui-stars-star-disabled,
.ui-stars-star-disabled a,
.ui-stars-cancel-disabled a {
	cursor: default !important;
}