.syntaxhighlighterHolder .code, .syntaxhighlighterHolder .code pre
{
	display:block;
	font-size: small;
	color: black;
	font-family: Consolas, "Courier New", Courier, Monospace;
	background-color: #ffffff;
}


/* Browser specific (not valid) styles to make preformatted text wrap */		



.syntaxhighlighterHolder .code pre { margin: 0em; }

.syntaxhighlighterHolder .code .rem { color: #008000; }

.syntaxhighlighterHolder .code .str { color: #006080; }

.syntaxhighlighterHolder .code .op { color: #0000c0; }

.syntaxhighlighterHolder .code .preproc { color: #cc6633; }

.syntaxhighlighterHolder .code .asp { background-color: #ffff00; }

.syntaxhighlighterHolder .code .html { color: #800000; }

.syntaxhighlighterHolder .code .attr { color: #ff0000; }

.syntaxhighlighterHolder .code .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}

.syntaxhighlighterHolder .code .lnum { color: #606060; }


/* This is the default style sheet for syntax highlighting with FormatC.
 * This stylesheet follows the default settings of Visual Studio 2008 and
 * SQL Server Management Studio 2008 (for T-SQL) as much as possible.
 * You can customize this stylesheet to suit your preferences.
 */
.syntaxhighlighterHolder pre.code
{
	display:block;
	font-size: small;
	color: black;
	font-family: Consolas, "Courier New", Courier, Monospace;
	background-color: #ffffff;
    white-space: pre-wrap;
}
.syntaxhighlighterHolder pre.code .keyword, .syntaxhighlighterHolder pre.code .preprocessor
{
	color: #00F;
}
.syntaxhighlighterHolder pre.code .operator
{
	color: #C63;
}
.syntaxhighlighterHolder pre.code .comment
{
	color: #008000;
}
.syntaxhighlighterHolder pre.code .xmlLiteral .comment
{
	color: #629755;
}
.syntaxhighlighterHolder pre.code .string
{
	color: #A31515;
}
.syntaxhighlighterHolder pre.code .entity
{
	color: #F00;
}
.syntaxhighlighterHolder pre.code .tagDelimiter, .syntaxhighlighterHolder pre.code .attributeDelimiter
{
	color: #00F;
}
.syntaxhighlighterHolder pre.code .xmlLiteral .tagDelimiter, .syntaxhighlighterHolder pre.code .xmlLiteral .attributeDelimiter, .syntaxhighlighterHolder pre.code .xmlDelimiter, .syntaxhighlighterHolder pre.code .xmlImportAttributeDelimiter
{
	color: #6464B9;
}
.syntaxhighlighterHolder pre.code .tagName
{
	color: #A31515;
}
.syntaxhighlighterHolder pre.code .xmlLiteral .tagName
{
	color: #844646;
}
.syntaxhighlighterHolder pre.code .attributeName
{
	color: #F00;	
}
.syntaxhighlighterHolder pre.code .xmlLiteral .attributeName, .syntaxhighlighterHolder pre.code .xmlImportAttributeName
{
	color: #B96464;
}
.syntaxhighlighterHolder pre.code .attributeValue
{
	color: #00F
}
.syntaxhighlighterHolder pre.code .xmlLiteral .attributeValue, .syntaxhighlighterHolder pre.code .xmlImportAttributeValue
{
	color: #6464B9;
}
.syntaxhighlighterHolder pre.code .cdata
{
	color: #808080;
}
.syntaxhighlighterHolder pre.code .xmlLiteral .cdata
{
	color: #C0C0C0;
}
.syntaxhighlighterHolder pre.code .type
{
	color: #2B91AF;
}
.syntaxhighlighterHolder pre.code .xmlLiteral .embeddedExpressionDelimiter
{
	color: #555;
	background-color: #FFFEBF;
}
.syntaxhighlighterHolder pre.code .sqlString
{
	color: #F00;
}
.syntaxhighlighterHolder pre.code .sqlSystemFunction
{
	color: #F0F;
}
.syntaxhighlighterHolder pre.code .sqlOperator, .syntaxhighlighterHolder pre.code .psOperator
{
	color: #808080;
}
.syntaxhighlighterHolder pre.code .lineNumber
{
	color: #808080;
}

.syntaxhighlighterHolder pre
{
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
}
